fastapi
uvicorn[standard]
sqlalchemy
mysql-connector-python
pydantic
python-multipart
websockets
python-dotenv
Pillow
opencv-python-headless
numpy
torch
torchvision
passlib
python-jose[cryptography]
pymysql
cryptography
